		<div class="nav-app">
            <ul class="nav nav-tabs ">
                <li role="presentation" class="app-icon">
                    <img src="{{ asset('bundles/flowercore/images/icons/PurchaseOrder-100.png') }}" class="img-responsive">
                </li>
                <li role="presentation" 
                {% if app_sale is defined %}class="active"{% endif %}
                >
                    <a href="{{ path('sale') }}">{{ '%entity% list'|trans({'%entity%': 'Sale'}, 'Sale') }}</a>
                </li>
                
            </ul>
        </div>

